#settings-wrapper {
	z-index: 10;
	position: absolute;
	top: 0;
	
	width: 100%;
	height: 100%;
	
	background-color: #FFFFFF50;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.settings-holder {
	margin: auto;

	width: 50%;
	height: 100%;
}

.settings {
	margin: 100px auto auto auto;
	padding: 20px;
	background-color: white;
	
	border-radius: 8px;
	width: 50%;
	height: 45%;
}

.setting-item {
	margin: auto;

	width: 200px;
}
