/*general*/
body {
    background-color: #32373A;
    color: black;
}

a {
    text-decoration: none;
    color: #0095F6;
}

.main {
    margin-bottom: 400px;
}

.graph {
    height: 370px;
    width: 100%;
}

.btn {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 10px;

    background-color: #0095F6;
    text-decoration: none;

    border: 1px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ffffff;
}

.btn:active {
    transform: scale(0.9);
}

.form-field {
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 5px;
    background: #eaeaea;
}

/*login stuff*/
.login-container, .register-container {
    margin: auto;
    background-color: white;
    width: 20%;
    min-width: 380px;
    padding: 10px;
    border: 1px;
    border-radius: 8px;
}

.login-form, .register-form{
    width: 50%;
}

.login-box, .register-box {
    text-align: center;
}

.login-btn, .register-btn {
    width: 50%;
}

/*Index stuff*/
.container {
    width: 100%;
}

/*Some autocomplete stuff*/
.ui-autocomplete {
    background: #4a4a4a;
    border-radius: 0px;
    list-style-type: none;
    width: 145px;
}

.ui-menu-item a{
    background:red !important;
    height:10px;
    font-size:8px;
}

.ui-menu-item-wrapper {
    margin-left: -35px;
}

/* mobile css */
@media only screen and (max-width: 460px) {
	.inputField {
		width: 40%;
		margin-right: 2%;
	}

	.button-array {
		width: 100%;
	}

	.timeFrameBtn {
		margin: 2% 1%;
		width: 31%;

	}
}

/* ultra wide monitor */
@media only screen and (min-width: 1930px) {
	.container {
		margin-top: 2%;
	}
}
