/*general*/
body {
	/*background-color: #32373A;*/
	background-color: rgb(35, 35, 35);
    color: black;
	overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #1DB954;
}

.container {
	width: 100%;
}

.main {
    margin-bottom: 400px;
}

.graph {
    height: 370px;
    width: 100%;
}

.btn {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;

    margin-top: 10px;

    /*background-color: #0095F6;*/
	background-color: #1DB954;
    text-decoration: none;

    border: 1px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #ffffff;
}

.btn:active {
    transform: scale(0.9);
}

.form-field {
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 5px;
    background: #eaeaea;
}

/*login stuff*/
.login-container, .register-container {
    margin: auto;
    background-color: white;
    width: 20%;
    min-width: 380px;
    padding: 10px;
    border: 1px;
    border-radius: 8px;
}

.login-form, .register-form{
    width: 50%;
}

.login-box, .register-box {
    text-align: center;
}

.login-btn, .register-btn {
    width: 50%;
}

/*Index stuff*/
.container {
    width: 100%;
}

/*Some autocomplete stuff*/
.ui-autocomplete {
    background: #4a4a4a;
    border-radius: 0px;
    list-style-type: none;
    width: 145px;
}

.ui-menu-item a{
    background:red !important;
    height:10px;
    font-size:8px;
}

.ui-menu-item-wrapper {
    margin-left: -35px;
}

/* Header stuff */
header {
	width: 101%;
	margin-top: -5px;
	margin-left: -10px;
	/* TODO: Fix the color to something nicer*/
	background-color: #4a4a4a;
}

.mobile-header {
	display: none;
}

.header {
	width: 100%;
	height: 50px;
	max-width: 1200px;
	margin: auto;
}

.col {
	width: 33%;
	display: inline-block;
}

/* Search stuff */
.search-box {
	margin: auto;
}

.search-results {
	width: 300px;
	min-height: 70px;
	max-height: 305px;
	z-index: 20;
	border-radius: 6px;
	position: absolute;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: white;
	margin-left: -2%;
}

.search-result {
	padding: 5px 0 0 10px;
	z-index: 20;
	width: 300px;
	height: 55px;
	background-color: white;
}

.search-result-text-holder {
	height: 100px;
}

.splitter {
	display: inline;
	width: 50%;
}

.search-result-profile-picture {
	width: 50px;
	height: 50px;
}

.search-result-name {
	vertical-align: top;
	margin: 0;
	height: 50%;
	padding-left: 10px;
}

/* mobile css */
@media only screen and (max-width: 460px) {
	.inputField {
		width: 40%;
		margin-right: 2%;
	}

	.button-array {
		width: 100%;
	}

	.timeFrameBtn {
		margin: 2% 1%;
		width: 31%;

	}

	/* hide the normal header and show the mobile "header" */
	.header {
		display: none;
	}

	.mobile-header {
		display: block;
		background-color: white;
		width: 100%;
		height: 40px;
		z-index: 10;
		position: fixed;
		bottom: 0;
	}

	.col {
		text-align: center;
		width: 23%;
		margin-top: 2%;
	}

	.fas, .far {
		font-size: 20px;
		color: black
	}
}

/* ultra wide monitor */
@media only screen and (min-width: 1930px) {
	.container {
		margin-top: 2%;
	}
}
