.cache-11182819693
.cache-icq6mdabqpzvx0wpc1w4hhxmp
.gitignore
data.json
todo.md
.nvimlog
backOffice/src/__pycache__/
example.html
vendor/
/api/config/core.php
/api/config/database.php
.vim
creds.py
__tests__
todo.md

