.vscode
Python/.cache-11182819693
Python/.cache-icq6mdabqpzvx0wpc1w4hhxmp
test.py
.gitignore
data.json
todo.txt
Python/.nvimlog
.nvimlog
Python/__pycache__
Python/V1/__pycache__
Python/V2/__pycache__
